---
import RecentGame from "../components/RecentGame.astro";
import Layout from "../layouts/Layout.astro";

const title = "midway";
const subtitle = "games";
const bannerImage = "/bg/hoshi_y_t.gif";
const tinyImage = "/smalls/sm-ds.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <div class="posts-grid">
                <RecentGame />
            </div>
        </div>

        <div slot="full">
            <h2>game shelf</h2>

            <div class="flexbox" style="flex-direction: row;">
                <div>
                    <div class="shrine">
                        <img
                            src="/images/lifeM.jpg"
                            style="max-width: 200px;"
                        />
                    </div>
                    <div class="center">
                        <a href="#"><h4>gakuen idolmaster</h4></a>
                    </div>
                </div>
                <div>
                    <div class="shrine">
                        <img
                            src="https://4.bp.blogspot.com/--nxLDk2oE78/XQBAWkfHEII/AAAAAAAAB9Y/lXCFEDEpg7I-BYF60GzlXGNWltR2fydxgCK4BGAYYCw/s640/ACNH_E3_Banner.png"
                        />
                    </div>
                    <div class="center"><h4>acnh</h4></div>
                </div>
                <div>
                    <div class="shrine">
                        <img
                            src="https://images.pushsquare.com/f6b5a9a5050bd/stardew-valley-1-5-ps4.900x.jpg"
                        />
                    </div>
                    <div class="center"><h4>stardew valley</h4></div>
                </div>
                <div>
                    <div class="shrine">
                        <img
                            src="https://avatars.mds.yandex.net/i?id=81bae722dfd40aa2f015d6483661375d_l-5172990-images-thumbs&n=13"
                        />
                    </div>
                    <div class="center"><h4>the sims</h4></div>
                </div>
                <div>
                    <div class="shrine">
                        <img
                            src="https://fieldsofmistria.wiki.gg/images/f/fb/Key-Art-Group.png?237f3e"
                        />
                    </div>
                    <div class="center"><h4>fields of mystria</h4></div>
                </div>
            </div>
            <div class="center">
                <br />
                <a href="/you/otome.html" class="button">looking for otomes?</a>
            </div>
            <br />
        </div>

        <div slot="left-half">
            <h3>Looking for Uma in Your Area?</h3>
            <p>here is where you can get exclusive uma musume content</p>
            <div class="center">
                <img src="/umpd/groupphoto.png" style="width:200px" ; />
                <div class="divider-ticket"></div>
                <br />
                <a href="/umpd.html" class="button">uma pyoi!</a>
            </div>
        </div>
        <div slot="right-half">
            <h2>honorable mentions</h2>
            <p>
                games that I got into temporarily but not worth my brain space
                to create entire pages for them.
            </p>
            <div class="center">
                <div class="icon">
                    <img
                        src="https://image.winudf.com/v2/image1/ZHJvaWRoYW5nLnR3Z2FtZS5yZXN0YXVyYW50X2ljb25fMTc0MjQ2ODcyOF8wMjI/icon.webp?w=140&fakeurl=1&type=.webp"
                        style="max-width: 50px;"
                    />
                    <h4>animal restaurant</h4><p>mobile idle game</p>
                </div>
            </div>
            <div class="center">
                <div class="icon">
                    <img
                        src="https://m.media-amazon.com/images/I/71TstsS57kL._SX355_.jpg"
                        style="max-width: 50px;"
                    />
                    <h4>idolly pride</h4><p>mobile raising sim</p>
                </div>
            </div>
            <div class="center">
                <div class="icon">
                    <img
                        src="https://i.pinimg.com/1200x/8c/f9/e0/8cf9e0369087ee2d693f93791f0b04e5.jpg"
                        style="max-width: 50px;"
                    />
                    <h4>hello sweet days</h4><p>cocone collector gatcha</p>
                </div>
            </div>
        </div>
    </div>
    <style>
        .posts-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 0.5rem;
            margin-top: 1rem;
        }
    </style>
</Layout>
