---
import Layout from "../layouts/Layout.astro";

const title = "shuttle";
const subtitle = "links out";
const bannerImage = "/bg/hoshi_y_t.gif";
const tinyImage = "/smalls/sm-trolley.gif";
---

<Layout
    title={title}
    subtitle={subtitle}
    bannerImage={bannerImage}
    tinyImage={tinyImage}
>
    <div slot="main-text">
        <div class="flexbox">
            <div>
                <h3>link back?</h3>

                <img
                    src="/link-backs/gelseylandbanner.jpg"
                    style="width: 150px; display: block;
  				margin-left: auto;
  				margin-right: auto;"
                    alt="ticket to gelseyland"
                />

                <div class="codebox">
                    <code
                        >&lt;a
                        href=&quot;https://gelseyland.neocities.org/&quot;
                        target=&quot;_blank&quot;&gt;&lt;img src="please
                        download and host on your page" alt=&quot;ticket to
                        gelseyland&quot;&gt;&lt;/a&gt;</code
                    >
                </div>
            </div>
            <div>
                <h3>social links</h3>
                <ul>
                    <li>
                        <a
                            href="https://bsky.app/profile/gelseyland.bsky.social"
                            >Bluesky</a
                        >
                    </li>
                    <li>
                        <a href="https://neocities.org/site/gelseyland"
                            >neocities</a
                        >
                    </li>
                    <li><a href="https://x.com/GelseyLand91353">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div slot="full">
        <h2>i just think they're neat</h2>
        <a href="https://eunoia.sayitditto.net/" target="_blank"
            ><img src="/link-backs/e" alt="Visit Fianna's Toybox" /></a
        >
        <a href="https://www.lejlart.com/apple.html" target="_blank"
            ><img
                src="/link-backs/eunoiabutton.png"
                alt="Eunoia say it ditto"
            /></a
        >
        <a href="https://cinni.net/" target="_blank"
            ><img
                src="/link-backs/cinni_angelbutton3.gif"
                alt="Visit Fianna's Toybox"
            /></a
        >
        <a href="https://cepheus.neocities.org/stars/" target="_blank"
            ><img
                alt="click to visit cepheus"
                src="/link-backs/button2.gif"
            /></a
        >
        <a href="https://maya.land/" target="_blank"
            ><img src="/link-backs/mayalandbanner.png" /></a
        >
        <a href="https://luvstarkei.com/about/" target="_blank"
            ><img src="/link-backs/LuvstarKeiButton-1.webp" /></a
        >
        <a href="https://lilithdev.neocities.org/"
            ><img
                src="https://lilithdev.neocities.org/buttons/lilithdevbtn.gif"
            /></a
        >
        <a target="_blank" href="https://kwaamfan.neocities.org/"
            ><img src="https://files.catbox.moe/egpfu7.gif" alt="kwaamfan" /></a
        >
        <a target="_blank" href="https://lostletters.neocities.org/"
            ><img src="/link-backs/LostLetters88x31.gif" alt="lostletters" /></a
        >
        <a target="_blank" href="https://doqmeat.com/"
            ><img src="/link-backs/doqmeat-2.png" alt="doqmeat" /></a
        >
        <a href="http://sweetcharm.net/" target="_blank"
            ><img
                src="/link-backs/bannericeream.gif"
                width="88"
                height="31"
            /></a
        >
    </div>

    <div slot="left-half">
        <h3><mark>games and doll makers</mark></h3>
        <a href="https://rosedryad.com/"
            ><img src="/link-backs/rosedryad88x31button3.gif" /></a
        >
        <a href="http://www.styledollz.com/"
            ><img src="/link-backs/Banner_StyleDollz5.gif" /></a
        >

        <hr />
        <h3><mark>wayback only</mark></h3>
        <a
            href="https://web.archive.org/web/20070611151709/http://www.fianakiara.de/"
            target="_blank"
            ><img
                src="/link-backs/fianakiara.gif"
                alt="Visit Fianna's Toybox"
            /></a
        >
        <a
            href="https://web.archive.org/web/20100218124534/http://www.happy-mix.net/domain_linkme.php"
            target="_blank"
            ><img
                src="https://web.archive.org/web/20100218124534im_/http://www.happy-mix.net/images_domain/8831_hmix005.gif"
            /></a
        >
    </div>
    <div slot="right-half">
        <h2><mark>beauty and style</mark></h2>
        <a href="https://lacemonster.net" target="_blank"
            ><img src="/link-backs/lacemonster.gif" /></a
        >
        <a
            href="https://mirukuma.blogspot.com/p/cc-mystery-packs.html"
            target="_blank"
            ><img src="/link-backs/mirukumapastel.png" style="width:90px" /></a
        >
        <a href="https://howtobecomeanangel.world" target="_blank"
            ><img src="/link-backs/bannerpink.png" /></a
        >
        <a href="https://lepanache.substack.com/" target="_blank"
            ><img
                src="/link-backs/lepanache.webp"
                style="max-width: 88px;"
            /></a
        >

        <hr />
        <h3><mark>magick and fantasy</mark></h3>
        <a href="https://faeraphim.net/main/index.htm" target="_blank"
            ><img src="/link-backs/faelink.png" /></a
        >
        <hr />

        <h3><mark>selfcare and life</mark></h3>
        <a href="https://softheartclinic.neocities.org/home" target="_blank"
            ><img src="/link-backs/softheartclinic.gif" /></a
        >
    </div>
</Layout>
