---
import "../styles/umpd.css";
---

<div class="footer-box">
    <img src="/umpd/daikostam.png" />
    <img src="/umpd/goldtrapped.webp" style="height:57px" />
    <img src="/umpd/heydowntheregs.webp" />
    <img src="/umpd/oguricomfy.webp" />
    <img src="/umpd/oguriodori.webp" />
    <img src="/umpd/rockinura.gif" />
    <img src="/umpd/spegahck.png" />
    <img src="/umpd/uraface.gif" />
    <img src="/umpd/urawin.gif" />
    <img src="/umpd/slepmaya.png" />
    <img src="/umpd/mcteio.jpeg" />
    <img src="/umpd/ttface.png" />
    <img src="/umpd/cattt.png" />
    <img src="/umpd/tthey.webp" />
    <img src="/umpd/loafid.png" />
</div>
